.form_btns {
    padding: 0px !important;
    margin: 0px 0px 0px 0px !important;
    width: 100% !important;
    min-height: 42px !important;
    border: #222 solid thin !important;
}


.top_spas {
    margin: 0px;
    padding: 6px 0px;
}

